<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="/lib/jquery.js"></script>
    <link href="/style/global.css" rel="stylesheet" />
    <link href="/style/details.css" rel="stylesheet" />
    <link href="/style/modal.css" rel="stylesheet" />
    <style>
        .bgimg {
            background-image: url('/images/background/homeParents.jpg');
        }

        .homeBtn {
            border: 1px solid #000;
            color: #000;
        }

        #btnDiv,
        #bottomDiv {
            color: black;
        }

        #err_text {
            height: 22px;
        }

        button {
            padding: 10px;
        }
    </style>
</head>

<body dir="rtl">

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge" id="btnDiv">
            <!-- שולחן משחקים שיתופי -->
            <img src="/images/logo1.png" alt=""
                style="border-radius: 50%; width: 100px; height: 100px; margin: 0px 100px 10px -13px;" />
            <br />
            <button type="button" class="homeBtn w3-text-black" id="btn_goToHome">
                <img id="homeImg" src="/images/homeBtn.png" alt="" />
                חזרה לעמוד
                <br />
                הקודם
            </button>
        </div>

        <div class="form-box w3-display-middle">
            <h1>עדכון פרטים אישיים</h1>
            <div id="err_text"></div>

            <div class="mess">
                <table>
                    <!--1. First Name-->
                    <tr>
                        <td>
                            <span>שם פרטי:</span>
                        </td>
                        <td class="details">
                            <!-- <input id="firstName" class="answer" /> -->
                            <span id="firstName"></span>
                        </td>

                    </tr>
                    <!--2. Last Name-->
                    <tr>
                        <td>
                            <span>שם משפחה:</span>
                        </td>
                        <td class="details">
                            <!-- <input id="lastName" class="answer" /> -->
                            <span id="lastName"></span>

                        </td>
                    </tr>
                    <!--3. id teacher-->
                    <tr>
                        <td>
                            <span>תעודת זהות:</span>
                        </td>
                        <td class="details">
                            <span id="id_teacher"></span>

                            <!-- <input id="id_teacher" class="answer" /> -->
                        </td>
                    </tr>
                    <!--4. Phone Number-->
                    <tr>
                        <td>
                            <span>טלפון:</span>
                        </td>
                        <td class="details">
                            <span id="phoneNumber"></span>

                            <!-- <input type="tel" id="phoneNumber" class="answer" /> -->
                        </td>
                    </tr>
                    <!--5. Password-->
                    <tr>
                        <td>
                            <span>סיסמה:</span>
                        </td>
                        <td>
                            <button id="btn-change-password">לחץ להחלפת סיסמה</button>
                        </td>
                    </tr>
                    <!--6. Update-->
                    <tr>
                        <td></td>
                        <td>
                            <input class="w3-button" type="reset" id="btn_rst" value="נקה" />
                            <input class="w3-button" type="button" id="btn_update" value="עדכן" />
                        </td>
                    </tr>
                </table>
            </div>

        </div>

        <div class="w3-display-bottomleft w3-padding-large w3-text-black">
            Make Learning Fun
        </div>
    </div>

    <!-- The Change Password Modal -->
    <div id="modal-change-password" class="modal w3-animate-opacity">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close btn_exit_modal" id="">&times;</span>
                <h2 style="text-align: center">החלפת סיסמה</h2>
            </div>
            <div class="modal-body">
                <!-- סיסמה ישנה: 
              <input type="password" id="input-old-password" placeholder="סיסמה ישנה" /> -->
                <!-- <br><br> -->
                סיסמה חדשה:
                <input type="password" id="input-new-password" placeholder="סיסמה חדשה" />
            </div>
            <div class="modal-footer">
                <button id="btn-save-new-password" type="button">שמור</button>
                <!-- <div id=" modal-err-text"></div> -->
            </div>
        </div>
    </div>

    <script type="module">
        import { updateTeacherByIdRequest, updateTeacherPasswordByIdRequest } from '/api.js';
        import { URL } from '/consts.js';

        $(document).ready(function () {
            $('button, input, .details').addClass('w3-animate-zoom');

            showTeacherDetails();

            $('#btn_goToHome').on('click', () => {
                window.location.href = URL.TEACHER.HOME;
            });

            $('#btn_update').on('click', () => {
                $('.details').children().trigger('focusout');
                updateTeacherDetails();
            });

            $('#btn_rst').on('click', () => {
                $('.details').children().trigger('focusout');
                showTeacherDetails();
            });

            $('#btn-change-password').on('click', () => {
                $('#modal-change-password').show();
            });

            $('#btn-save-new-password').click(() => {
                updateTeacherPassword();
            });

            let teacher = JSON.parse(localStorage.getItem('teacher'));
            // $('#teacherName').text(`${teacher.firstName} ${teacher.lastName}`);

            $('td:nth-child(2)').css('border', '1px solid white');

            $('.details').children().click(function () { spanToInput($(this)); });
            initModal();
            
        });

        function spanToInput(elm) {
            let data = $(elm).text();
            let atr_id = $(elm).attr('id');
            let $new_input = $('<input/>', { 'id': atr_id }).val(data);
            $new_input.focusout(function () {
                let data = $(this).val();
                let atr_id = $(this).attr('id');
                let $new_span = $('<span></span>', { 'id': atr_id }).text(data);
                $new_span.click(function () { spanToInput($new_span); });
                $(this).parent().append($new_span);
                $(this).remove();
            });
            $(elm).parent().append($new_input);
            $(elm).remove();
        }

        function updateTeacherDetails() {
            let teacher = JSON.parse(localStorage.getItem('teacher'));
            let updatedTeacher = {
                firstName: $("#firstName").text(),
                lastName: $("#lastName").text(),
                id: $("#id_teacher").text(),
                phone: $("#phoneNumber").text()
                // password: $("#password").val()
            };
            updateTeacherByIdRequest(teacher.id, updatedTeacher, showUpdatedDetails, printErrorToUser);
        }

        function updateTeacherPassword() {
            let teacher = JSON.parse(localStorage.getItem('teacher'));
            updateTeacherPasswordByIdRequest(teacher.id, $("#input-new-password").val(), showUpdatedDetails, printErrorToUser);
        }

        function showTeacherDetails() {
            let teacher = JSON.parse(localStorage.getItem('teacher'));
            if (teacher === null)
                return printErrorToUser(0, 'לא התקבלו נתונים מהשרת.');
            $("#firstName").text(teacher.firstName);                   // firstName
            $("#lastName").text(teacher.lastName);                     // lastName
            $("#id_teacher").text(teacher.id);                          // id
            $("#phoneNumber").text(teacher.phone);                     // phoneNumber
            // $("#password").text(teacher.password);                     // password
        }

        function showUpdatedDetails() {
            $('#modal-change-password').hide();
            // $(".answer").attr('disabled', true);
            printErrorToUser(0,'הנתונים עודכנו בהצלחה.');
            showTeacherDetails();
            setTimeout(() => {
                    window.location.href = URL.TEACHER.HOME;
            }, 2000);
        }

        function printErrorToUser(code, err) { // popup
            $('#modal-change-password').hide();
            $('#err_text').text(err);
        }

        function initModal() {
            $(".btn_exit_modal").on("click", () => {
            $(".modal").hide();
            });

            $(window).click((event) => {
          let modalIds = ["modal-change-password"];
          if(modalIds.includes(event.target.id))
            $(`#${event.target.id}`).hide();
        });
        }

    </script>
</body>

</html>