<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="../../style/global.css" rel="stylesheet" />
    <link href="../../style/overlay.css" rel="stylesheet" />
    <style>
        h1 {
            /* text-align: center; */
            margin-bottom: 40px;
        }

        span {
            font-size: 25px;
        }

        table tr td {
            padding: 10px 10px;
        }

        #btn {
            font-size: 26px;
            width: 90px;
            height: 40px;
            padding: 2px 3px;
            margin-left: 5px;
        }

        #rst {
            font-size: 26px;
            width: 90px;
            height: 40px;
            padding: 2px 3px;
            margin-right: 5px;
        }

        .bgimg {
            background-image: url('../../pics/background/book.jpg');
        }

        .mess {
            text-align: right;
            margin-bottom: 30px;
        }

        .form-box {
            width: 680px;
            margin-right: 460px;
            /* background: rgba(0,0,0,0.7); */
            /* margin: 1% auto 1% auto; */
            /* padding: 50px 0; */
            color: #fff;
            /* box-shadow: 0 0 20px 2px rgba(0,0,0,0.5); */
        }
    </style>
    <script>
        // history.pushState(null, null, document.URL);
        // window.addEventListener('popstate', function () {
        //     history.pushState(null, null, document.URL);
        // });
    </script>
</head>

<body dir="rtl">

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            שולחן משחקים שיתופי
            <button type="button" class="homeBtn" id="btn_goToHome">
                <img id="homeImg" src="../../pics/homeBtn.png" alt="">
            </button>
        </div>

        <div class="form-box">
            <br>
            <h1>כתיבת הערות להורי הילד<span></span></h1>

            <div class="mess">
                <form>
                    <table>
                        <!--1. First Name-->
                        <tr>
                            <td>
                                <span>שם פרטי:</span>
                            </td>
                            <td>
                                <span id="firstName"></span>
                            </td>

                        </tr>
                        <!--2. Last Name-->
                        <tr>
                            <td>
                                <span>שם משפחה:</span>
                            </td>
                            <td>
                                <span id="lastName"></span>
                            </td>
                        </tr>
                        <!--3. ID-->
                        <tr>
                            <td>
                                <span>תעודת זהות:</span>
                            </td>
                            <td>
                                <span id="ID"></span>
                            </td>
                        </tr>
                        <!--4. Notes Date-->
                        <tr>
                            <td>
                                <span>תאריך כתיבה:</span>
                            </td>
                            <td>
                                <span id="notesDate"></span>
                            </td>
                        </tr>
                        <!--5. Notes-->
                        <tr>
                            <td colspan="2">
                                <textarea rows="5" cols="35" id="note_message"
                                    placeholder="הוסף הערות בתיבה זה"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" style="text-align: center;">
                                <input type="button" id="btn" value="שלח" />
                                <input type="reset" id="rst" value="נקה" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>

        <div class="w3-display-bottomleft w3-padding-large">
            Make Learning Fun
            <!-- <button type="button" class="new-user-btn" id="register">משתמש חדש?</button> -->
            <!-- <button type="button" class="homeBtn" id="btn_goToHome">
                    <img id="homeImg" src="../../pics/homeBtn.png" alt="">
                </button> -->
        </div>
    </div>

    <div id="overlay">
        <div id='text_to_user' class="w3-padding w3-hide-medium w3-hide-small">
        </div>
    </div>

    <script type="module" src="api.js"></script>
    <script type="module" src="consts.js"></script>
    <script type="module">
        import { getChildRequest, postChildNotesRequest } from './api.js';
        import { URL } from './consts.js';

        $(document).ready(() => {
            console.log('jquery work');
            init();
            showStudentDetails();
        });

        function init() {
            $('#btn_goToHome').on('click', () => {
                window.location.href = URL.TEACHER_HOME;
            });

            $('#btn').on('click', () => {
                let message = $('#note_message').val();
                let teacherId = JSON.parse(localStorage.getItem('teacher')).id;
                postChildNotesRequest(child.id, { teacherId, message }, noteSuccess, noteFailed);
            });

            $('#rst').on('click', () => {
                $('#note_message').text();
            });
        }

        var child;

        function showStudentDetails() {
            child = JSON.parse(localStorage.getItem('child'));
            $("#firstName").html(child.firstName);                   // firstName
            $("#lastName").html(child.lastName);                     // lastName
            $("#ID").html(child.id);                                 // id
            $("#notesDate").text(formatDate(new Date()));
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }


        function noteSuccess() {
            $('#text_to_user').text('הערה נרשמה בהצלחה.');
            displayOverlay();
        }

        function noteFailed(status, responseText) {
            $('#text_to_user').text(`שגיאה ברישום הערה: ${responseText}.`);
            displayOverlay();
        }

        function displayOverlay() {
            $('#overlay').css('display', 'block');
            setTimeout(() => {
                // $('#overlay').css('display', 'none');
                $('#btn_goToHome').trigger('click');
            }, 2000);
        }
    </script>
</body>

</html>