<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="../../style/global.css" rel="stylesheet" />
    <style>
        h1 {
    /* text-align: center; */
    margin-bottom: 40px;
}
span {
    font-size: 25px;
}

table tr td {
    padding: 10px 10px;
}
#btn {
    font-size: 26px;
    width: 90px;
    height: 40px;
    padding: 2px 3px;
    margin-left: 5px;
}

#rst {
    font-size: 26px;
    width: 90px;
    height: 40px;
    padding: 2px 3px;
    margin-right: 5px;
}
        .bgimg {
            background-image: url('../../pics/book.jpg');
        }
        .mess {
    text-align: right;
    margin-bottom: 30px;
}

.form-box {
    width: 680px;
    margin-right: 460px;
    /* background: rgba(0,0,0,0.7); */
    /* margin: 1% auto 1% auto; */
    /* padding: 50px 0; */
    color: #fff;
    /* box-shadow: 0 0 20px 2px rgba(0,0,0,0.5); */
}
    </style>
    <script>
        // history.pushState(null, null, document.URL);
        // window.addEventListener('popstate', function () {
        //     history.pushState(null, null, document.URL);
        // });
    </script>
</head>

<body dir="rtl">

    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge">
            שולחן משחקים שיתופי
            <button type="button" class="homeBtn" id="btn_goToHome">
                <img id="homeImg" src="../../pics/homeBtn.png" alt="">
            </button>
        </div>

        <div class="form-box">
            <br>
            <h1>כתיבת הערות להורי הילד<span></span></h1>

            <div class="mess">
                <form>
                    <table>
                        <!--1. First Name-->
                        <tr>
                            <td>
                                <span>שם פרטי:</span>
                            </td>
                            <td>
                                <span id="firstName"></span>
                            </td>

                        </tr>
                        <!--2. Last Name-->
                        <tr>
                            <td>
                                <span>שם משפחה:</span>
                            </td>
                            <td>
                                <span id="lastName"></span>
                            </td>
                        </tr>
                        <!--3. ID-->
                        <tr>
                            <td>
                                <span>תעודת זהות:</span>
                            </td>
                            <td>
                                <span id="ID"></span>
                            </td>
                        </tr>
                        <!--4. Notes Date-->
                        <tr>
                            <td>
                                <span>תאריך ההערות:</span>
                            </td>
                            <td>
                                <span id="notesDate"></span>
                            </td>
                        </tr>
                        <!--5. Notes-->
                        <tr>
                            <td colspan="2">
                                <span>הערות</span>
                                <br>
                                <!-- </td> -->
                                <!-- <td> -->
                                <textarea rows="5" cols="35" id="notes"></textarea>
                            </td>
                        </tr>
                        <!--6. Approval-->
                        <!-- <tr>
                            <td>
                                <span>אני מאשר שכל הנתונים נכונים</span>
                            </td>
                            <td>
                                <input type="checkbox" id="approval" class="answware" />
                            </td>
                        </tr> -->
                        <!--11. Update-->
                        <tr>
                            <!-- <td></td> -->
                            <td colspan="2" style="text-align: center;">
                                <input type="button" id="btn" value="שלח"
                                    onclick="window.location.href = 'Notes Message/NotesMessage.html'" />
                                <input type="reset" id="rst" value="נקה" />

                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>

        <div class="w3-display-bottomleft w3-padding-large">
            Make Learning Fun
            <!-- <button type="button" class="new-user-btn" id="register">משתמש חדש?</button> -->
            <!-- <button type="button" class="homeBtn" id="btn_goToHome">
                    <img id="homeImg" src="../../pics/homeBtn.png" alt="">
                </button> -->
        </div>
    </div>



    <script type="module" src="api.js"></script>
    <script type="module" src="consts.js"></script>
    <script type="module">
        import { getChildRequest } from './api.js';
        import { URL } from './consts.js';

        $(document).ready(() => {
            console.log('jquery work');
            init();
            getChildRequest('1001', showStudentDetails);
        });

        function init() {
            $('#btn_goToHome').on('click', () => {
                window.location.href = URL.TEACHER_HOME;
            });

        }

        function showStudentDetails(data) {
            $("#firstName").html(data.firstName);                   // firstName
            $("#lastName").html(data.lastName);                     // lastName
            $("#ID").html(data.id);                                 // id
            $("#notesDate").text(formatDate(new Date()));
        }

        function formatDate(date) {
            var d = new Date(date),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2)
                month = '0' + month;
            if (day.length < 2)
                day = '0' + day;

            return [day, month, year].join('-');
        }

    </script>
</body>

</html>