* {
    margin: 0;
    padding: 0;
}

body {
}

header {
    text-align: center;
    background-color: #fcfcfc;
    padding: 5px;
}

    header h1 {
        font-size: 48px;
        color: #7c795d;
        font-family: 'Trocchi', serif;
        font-size: 45px;
        font-weight: normal;
        line-height: 48px;
        margin: 0;
    }

main {
    background: no-repeat center center;
    background-image: url('../../../pics/bacground_study.png');
    background-size: cover;
    font-family: sans-serif;
    width: 100%;
    /*min-height: calc(100vh - 214px - 150px);*/
    min-height: 60vh;
}

    main div h1 {
        font-size: 48px;
        font-weight: normal;
        width: 100%;
        padding: 10px;
        line-height: 1.2;
        font-family: 'Comic Neue', cursive;
    }

    main div p {
        font-size: 16px;
        font-weight: normal;
        width: 100%;
        padding: 10px;
        font-family: 'Comic Neue', cursive;
    }

footer {
    text-align: center;
    background-color: #fcfcfc;
    color: #fff;
    margin-left: 12%;
    margin-right: 12%;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box {
    width: 19%;
    height: 160px;
    margin: 5% 0 2% 0;
    padding: 3px;
    box-sizing: border-box;
    font-size: 34px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.in_img {
    width: 32%;
    height: 32%;
    z-index: 1;
    box-sizing: border-box;
    font-size: 40px;
    position: absolute;
    right: 9%;
    top: 20%;
}

/*tablets*/
@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
    }

    header {
        text-align: center;
        background-color: #fcfcfc;
        padding: 5px;
    }

        header h1 {
            font-size: 48px;
            color: #7c795d;
            font-family: 'Trocchi', serif;
            font-size: 45px;
            font-weight: normal;
            line-height: 48px;
            margin: 20px;
        }

    main {
        background: no-repeat center center;
        background-image: url('../../../pics/bacground_study.png');
        background-size: cover;
        font-family: sans-serif;
        width: 100%;
        /*min-height: calc(100vh - 214px - 150px);*/
        min-height: 54vh;
    }

        main div h1 {
            font-size: 34px;
            font-weight: normal;
            width: 100%;
            padding: 10px;
            line-height: 1.2;
            font-family: 'Comic Neue', cursive;
        }

        main div p {
            font-size: 16px;
            font-weight: normal;
            width: 100%;
            padding: 10px;
            font-family: 'Comic Neue', cursive;
        }

    footer {
        text-align: center;
        background-color: #fcfcfc;
        color: #fff;
        margin-left: 12%;
        margin-right: 12%;
    }

    .container {
        width: 100%;
        height: auto;
        display: inline;
        /*display: flex;
        flex-direction: row;
        justify-content: space-around;*/
    }

    .box {
        width: 30%;
        height: 180px;
        margin: 5% 1.66% 2% 1.66%;
        padding: 3px;
        box-sizing: border-box;
        font-size: 34px;
        align-items: center;
        /*display: flex;
        justify-content: center;*/
        float: left;
    }

    .in_img {
        width: 46%;
        height: 16%;
        z-index: 1;
        box-sizing: border-box;
        font-size: 40px;
        position: absolute;
        right: 9%;
        top: 20%;
    }
}