<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="../../style/global.css" rel="stylesheet" />
    <link href="../../style/details.css" rel="stylesheet" />
    <style>
        .bgimg {
            background-image: url('../../pics/background/homeParents.jpg');
        }

        .homeBtn {
            border: 1px solid #000;
            color: #000;
        }

        #btnDiv,
        #bottomDiv {
            color: black;
        }

        #err_text {
            height: 22px;
        }
    </style>
</head>

<body dir="rtl">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
        <div class="w3-display-topleft w3-padding-large w3-xlarge" id="btnDiv">
            שולחן משחקים שיתופי
            <br>
            <button type="button" class="homeBtn" id="btn_goToHome">
                <img id="homeImg" src="../../pics/homeBtn.png" alt="">
            </button>
        </div>

        <div class="form-box w3-display-middle">
            <h1>עדכון פרטים אישיים</h1>
            <div id="err_text"></div>

            <div class="mess">
                <form>
                    <table>
                        <!--1. First Name-->
                        <tr>
                            <td>
                                <span>שם פרטי:</span>
                            </td>
                            <td class="details">
                                <!-- <input id="firstName" class="answer" /> -->
                                <span id="firstName" ></span>
                            </td>

                        </tr>
                        <!--2. Last Name-->
                        <tr>
                            <td>
                                <span>שם משפחה:</span>
                            </td>
                            <td class="details">
                                <!-- <input id="lastName" class="answer" /> -->
                                <span id="lastName"></span>

                            </td>
                        </tr>
                        <!--3. id parent-->
                        <tr>
                            <td>
                                <span>תעודת זהות:</span>
                            </td>
                            <td class="details">
                                <span id="id_parent"></span>

                                <!-- <input id="id_parent" class="answer" /> -->
                            </td>
                        </tr>
                        <!--4. Phone Number-->
                        <tr>
                            <td>
                                <span>טלפון:</span>
                            </td>
                            <td class="details">
                                <span id="phoneNumber"></span>

                                <!-- <input type="tel" id="phoneNumber" class="answer" /> -->
                            </td>
                        </tr>
                        <!--5. Password-->
                        <tr>
                            <td>
                                <span>סיסמא:</span>
                            </td>
                            <td>
                                <!-- <span id="password"></span> -->
                                <input type="password" id="password" placeholder="הכנס סיסמה לאישור"/>
                            </td>
                        </tr>
                        <!--6. Update-->
                        <tr>
                            <td></td>
                            <td>
                                <input class="w3-button" type="reset" id="btn_rst" value="נקה" />
                                <input class="w3-button" type="button" id="btn_update" value="עדכן" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>

        </div>

        <!-- <div class="w3-display-bottommiddle container" style="margin-top:100px;margin-right: 100px;">

        </div> -->

        <div class="w3-display-bottomleft w3-padding-large">
            <button id='btn_goToHome' class="w3-btn">חזרה לעמוד הראשי <i class="fa fa-home"
                    aria-hidden="true"></i></button>
            Make Learning Fun
        </div>
    </div>

    <script type="module" src="api.js"></script>
    <script type="module" src="consts.js"></script>
    <script type="module">
        import { updateParentRequest } from './api.js';
        import { URL } from './consts.js';

        $(document).ready(function () {
            showParentDetails();

            $('#btn_goToHome').on('click', () => {
                window.location.href = URL.PARENT_HOME;
            });

            $('#btn_update').on('click', () => {
                $('.details').children().trigger('focusout');
                updateParentDetails();
            });

            $('#btn_rst').on('click', () => {
                $('.details').children().trigger('focusout');
                showParentDetails();
            });

            let parent = JSON.parse(localStorage.getItem('parent'));
            $('#parentName').text(`${parent.firstName} ${parent.lastName}`);

            $('td:nth-child(2)').css('border', '1px solid white');

            $('.details').children().click(function () { spanToInput($(this)); });

        });

        function spanToInput(elm) {
            let data = $(elm).text();
            let atr_id = $(elm).attr('id');
            let $new_input = $('<input/>', { 'id': atr_id }).val(data);
            $new_input.focusout(function () {
                let data = $(this).val();
                let atr_id = $(this).attr('id');
                console.log(data);
                let $new_span = $('<span></span>', { 'id': atr_id }).text(data);
                $new_span.click(function () { spanToInput($new_span); });
                $(this).parent().append($new_span);
                $(this).remove();
            });
            $(elm).parent().append($new_input);
            $(elm).remove();
        }

        function updateParentDetails() {
            let parent = JSON.parse(localStorage.getItem('parent'));
            let updatedParent = {
                firstName: $("#firstName").text(),
                lastName: $("#lastName").text(),
                id: $("#id_parent").text(),
                phone: $("#phoneNumber").text(),
                password: $("#password").val()
            };
            updateParentRequest(parent.id, updatedParent, showUpdatedDetails, printErrorToUser);
        }

        function showParentDetails() {
            let parent = JSON.parse(localStorage.getItem('parent'));
            if (parent === null)
                return printErrorToUser(0, 'לא התקבלו נתונים מהשרת.');
            // console.log(parent);
            $("#firstName").text(parent.firstName);                   // firstName
            $("#lastName").text(parent.lastName);                     // lastName
            $("#id_parent").text(parent.id);                          // id
            $("#phoneNumber").text(parent.phone);                     // phoneNumber
            $("#password").text(parent.password);                     // password


        }

        function showUpdatedDetails() {
            // $(".answer").attr('disabled', true);
            printErrorToUser(0,'הנתונים עודכנו בהצלחה.');
            showParentDetails();
            setTimeout(() => {
                    window.location.href = URL.PARENT_HOME;
            }, 2000);
        }

        function printErrorToUser(code, err) { // popup
            $('#err_text').text(err);
        }
    </script>
</body>

</html>