<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="../Read Notes Message Parent/ReadNotesToParent.css" rel="stylesheet" />
    <link href="../../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto&display=swap" rel="stylesheet">

</head>
<body dir="rtl">
    <div>
        <h1 class="tittle">שולחן משחקים שיתופי</h1>
    </div>
    <div class="form-box">
        <h1>הצגת הערות להורי הילד<span></span></h1>

        <div class="mess">
            <form>
                <table>
                    <!--1. First Name-->
                    <tr>
                        <td>
                            <span>שם פרטי:</span>
                        </td>
                        <td>
                            <span id="firstName"></span>
                        </td>

                    </tr>
                    <!--2. Last Name-->
                    <tr>
                        <td>
                            <span>שם משפחה:</span>
                        </td>
                        <td>
                            <span id="lastName"></span>
                        </td>
                    </tr>
                    <!--3. ID-->
                    <tr>
                        <td>
                            <span>תעודת זהות:</span>
                        </td>
                        <td>
                            <span id="ID"></span>
                        </td>
                    </tr>
                    <!--4. Notes Date-->
                    <tr>
                        <td>
                            <span>תאריך ההערות:</span>
                        </td>
                        <td>
                            <span id="notesDate"></span>
                        </td>
                    </tr>
                    <!--5. Notes-->
                    <tr>
                        <td>
                            <span>הערות</span>
                        </td>
                        <td>
                            <span id="notes"></span>
                        </td>
                    </tr>
                    <!--11. Update-->
                    <tr>
                        <td></td>
                        <td>
                            <input type="button" id="btn" value="קראתי" />
                        </td>
                    </tr>
                </table>
            </form>
        </div>

    </div>


</body>
</html>