<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="./style/Register_Parent.css" rel="stylesheet" />
    <link href="../../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body dir="rtl">
    <div>
        <h1 class="tittle">שולחן משחקים שיתופי</h1>
    </div>
    <div class="form-box">
        <h1>הרשמה הורה</h1>

        <div class="input-box">
            <i class="fa fa-user"></i>
            <input type="text" id="user_id" placeholder="תעודת זהות" />
        </div>

        <div class="input-box">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="סיסמא" id="user_password" />
            <span class="eye" onclick="myFunction()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
        </div>

        <button type="button" class="register-btn" id="register">הרשמה</button>

    </div>

    <script type="module" src="api.js"></script>
    <script type="module" src="consts.js"></script>
    <script type="module">
        import { userRegisterRequest } from './api.js';
        import { URL } from './consts.js';

        $(document).ready(() => {
            console.log('jquery work');
            init();
        });

        function init() {
            $('#register').on('click', () => {
                console.log('work btn');
                let userId = $("#user_id").val();
                let userPassword = $("#user_password").val();
                userRegisterRequest(userId, userPassword, registerSuccess);
            });
        }

        function registerSuccess(user) {
            localStorage.setItem('parent_id', user._parent);
            localStorage.setItem('user', user);
            localStorage.removeItem('parent');
            location.replace(URL.PARENT_DETAILS);
        }

    </script>
</body>

</html>