<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script src="/lib/jquery.js"></script>
    <link href="/style/global.css" rel="stylesheet" />
    <link href="/style/signin.css" rel="stylesheet" />
    <style>
      .bgimg {
        background-image: url("/pics/background/cactus.jpg");
      }

      #err_text {
        height: 22px;
      }
    </style>
  </head>
  <body dir="rtl">
    <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
      <div class="w3-display-topleft w3-padding-large w3-xlarge w3-text-black">
        שולחן משחקים שיתופי
        <div>
          <button type="button" class="homeBtn w3-text-black" id="btn_goToHome">
            <img id="homeImg" src="/pics/homeBtn.png" alt="" />
            חזרה לעמוד
            <br />
            הראשי
          </button>
        </div>      
      </div>
    </div>
    <div class="form-box w3-display-middle">
      <h1>הרשמה הורה</h1>
      <div class="input-box">
        <i class="fa fa-address-card"></i>
        <input type="text" id="user_fname" placeholder="שם פרטי" />
      </div>
      <div class="input-box">
        <i class="fa fa-address-card"></i>
        <input type="text" id="user_lname" placeholder="שם משפחה" />
      </div>
      <div class="input-box">
        <i class="fa fa-phone"></i>
        <input type="text" id="user_phone" placeholder="טלפון" />
      </div>
      <div class="input-box">
        <i class="fa fa-user"></i>
        <input
          type="text"
          id="user_id"
          placeholder="תעודת זהות"
          autocomplete="off"
        />
      </div>

      <div class="input-box">
        <i class="fa fa-key"></i>
        <input
          type="text"
          placeholder="סיסמא"
          id="user_password"
          autocomplete="off"
        />
        <span class="icon-eye" onclick="passwordToggle()">
          <i class="fa fa-eye-slash"></i>
        </span>
      </div>
      <div id="err_text"></div>

      <button type="button" class="register-btn" id="register">הרשמה</button>
      <button type="button" class="register-btn" id="btn-back-to-login">חזור להתחברות</button>
    </div>

    <div class="w3-display-bottomleft w3-padding-large w3-text-black">Make Learning Fun</div>

    <script type="module">
      import { userRegisterRequest } from "./api.js";
      import { URL } from "./consts.js";
      import { initSignInPage } from "/globalDeclarations.js";

      $(document).ready(() => {
        console.log("jquery work");
        init();
        $("#user_id").text("");
        initSignInPage();
      });

      function init() {
        $('.input-box, .register-btn').addClass('w3-animate-zoom');

        $("#register").on("click", () => {
          let newUser = {};
          newUser.firstName = $("#user_fname").val();
          newUser.lastName = $("#user_lname").val();
          newUser.phone = $("#user_phone").val();
          newUser.id = $("#user_id").val();
          newUser.password = $("#user_password").val();
          userRegisterRequest(newUser, registerSuccess, printErrorToUser);
        });

        $("#btn_goToHome").on("click", () => {
          window.location.href = URL.HOME;
        });

        $("#btn-back-to-login").on("click", () => {
          window.location.href = URL.PARENT_SIGNIN;
        });
        
        $("#user_password").on("focus", () => {
          $("#user_password").attr("type", "password");
        });
      }

      function registerSuccess(parent) {
        localStorage.setItem("parent", JSON.stringify(parent));
        window.location.href = URL.PARENT_HOME;
      }

      function printErrorToUser(code, err) {
        $("#err_text").text(err);
      }
    </script>
  </body>
</html>
