<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="SignInScreen_Parent.css" rel="stylesheet" />
    <link href="../../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body dir="rtl">
    <div>
        <h1 class="tittle">שולחן משחקים שיתופי</h1>
    </div>
    <div class="form-box">
        <h1>התחברות הורה</h1>

        <div class="input-box">
            <i class="fa fa-user"></i>
            <input type="text" placeholder="תעודת זהות" />
        </div>

        <div class="input-box">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="סיסמא" id="myInput" />
            <span class="eye" onclick="myFunction()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
        </div>

        <button type="button" class="login-btn" onclick="window.location.href = '../Home screen Parent/HomeScreen_Parent.html'">כניסה</button>

        <div>
            <button type="button" class="new-user-btn">משתמש חדש?</button>
        </div>
    </div>


</body>
</html>