<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="./style/SignInScreen_Parent.css" rel="stylesheet" />
    <link href="../../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

</head>

<body dir="rtl">
    <div>
        <h1 class="tittle">שולחן משחקים שיתופי</h1>
    </div>
    <div class="form-box">
        <h1>התחברות הורה</h1>

        <div class="input-box">
            <i class="fa fa-user"></i>
            <input type="text" id="user_id" placeholder="תעודת זהות" />
        </div>

        <div class="input-box">
            <i class="fa fa-key"></i>
            <input type="password" placeholder="סיסמא" id="user_password" />
            <span class="eye" onclick="myFunction()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
        </div>

        <button type="button" class="login-btn" id="login">כניסה</button>

        <div>
            <button type="button" class="new-user-btn" id="register">משתמש חדש?</button>
        </div>
    </div>

    <script type="module" src="api.js"></script>
    <script type="module" src="consts.js"></script>
    <script type="module">
        import { userLoginRequest } from './api.js';
        import { URL } from './consts.js';

        $(document).ready(() => {
            console.log('jquery work');
            init();
        });

        function init() {
            $('#login').on('click', () => {
                console.log('work btn');
                let userId = $("#user_id").val();
                let userPassword = $("#user_password").val();
                userLoginRequest(userId, userPassword, loginSuccess);
            });

            $('#register').on('click', () => {
                location.replace(URL.PARENT_REGISTER);
            });
        }

        function loginSuccess(user) {
            // console.log(user);
            localStorage.setItem('parent_id', user._parent._id);
            location.replace(URL.PARENT_HOME);
        }
    </script>
</body>

</html>