<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title></title>
  <script src="/lib/jquery.js"></script>
  <link href="/style/global.css" rel="stylesheet" />
  <link href="/style/modal.css" rel="stylesheet" />
  <style>
    body,
    h1,
    p,
    div {
      color: #000;
    }

    .bgimg {
      background-image: url("/images/background/back8.jpg");
    }

    .container {
      width: 700px;
    }

    .box {
      width: 200px;
      height: 200px;
    }

    .homeBtn {
      border: 1px solid #dcdcdc;
      color: #000;
      margin-left: 0;
    }

    .modal-header {
      background-color: coral;
    }

    select {
      background: url("");
    }

    .container div {
      background: rgba(0, 0, 0, 0.8);
      box-shadow: 0 0 20px 2px cornflowerblue;
    }
  </style>
</head>

<body dir="rtl">
  <audio controls src="/audio/return home page.mpeg" id="myAudioReturn" style="display: none;">
  </audio>

  <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
    <div class="w3-display-topleft w3-padding-large w3-xlarge">
      שולחן משחקים שיתופי
      <button type="button" class="homeBtn" id="btn_goToHome">
        <img id="homeImg" src="/images/homeBtn.png" alt="" />
      </button>
    </div>
    <div class="w3-display-topmiddle" style="margin-top: 100px; margin-right: 100px">
      <h1 class="w3-jumbo w3-animate-top" id="title" style="width: 700px">
        שלום <span id="childName"></span>
      </h1>
      <hr class="w3-border-grey" style="margin: auto; width: 40%" />
      <p class="w3-large w3-center">ברוך הבא לאזור האישי שלך!</p>
    </div>
    <div class="w3-display-bottommiddle container" style="margin-top: 100px; margin-right: 100px">
      <div id="btn_game" class="w3-green tooltip w3-animate-right">
        <img src="/images/play3.png" alt="" />
        <span class="tooltiptext">שחק משחקים</span>
      </div>
      <div id="btn_details" class="w3-light-blue w3-text-white tooltip w3-animate-bottom">
        <img src="/images/v2/details.png" alt="" />
        <span class="tooltiptext">פרטים אישיים</span>
      </div>
      <div id="btn_performance" class="w3-red tooltip w3-animate-left">
        <img src="/images/grades.png" alt="" />
        <span class="tooltiptext">הצגת ציונים</span>
      </div>
    </div>

    <div class="w3-display-bottomleft w3-padding-large">
      Make Learning Fun
    </div>
  </div>

  <!-- The Modal -->
  <div id="modal-choose-child" class="modal w3-animate-opacity">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" onclick="this.parentElement.parentElement.parentElement.style.display='none'">&times;</span>
        <h2 style="text-align: center">בחר תחום:</h2>
      </div>
      <div class="modal-body">
        <select name="children" id="children_selector"></select>
      </div>
      <div class="modal-footer">
        <button id="btn_child_chose" type="button">בחר</button>
        <div id="err_text"></div>
      </div>
    </div>
  </div>

  <script>
    function returnHomePage() {
      $("#modal-edition").fadeOut("slow");
      $("#myAudioReturn").get(0).play();
    }

  </script>

  <script type="module">
    import {} from "/api.js";
      import { URL } from "/consts.js";

      var fields = ["אנגלית", "צבעים", "חשבון", "זכרון"];
      $(document).ready(() => {
        init();
      });

      function init() {
        $(".container div").addClass(
          "box w3-hover-text-black w3-hover-opacity w3-hover-shadow"
        );
        $(".container div img").addClass("btn_home_img");

        $("#btn_details").on("click", () => {
          window.location.href = URL.CHILD.DETAILS;
        });

        $("#btn_performance").on("click", () => {
          $("#modal-choose-child").show();
        });

        $("#btn_game").on("click", () => {
          window.location.href = URL.CHILD.GAME;
        });

        $("#btn_goToHome").on("click", () => {
          returnHomePage();
          document.getElementById("btn_details").disabled = true;
          document.getElementById("btn_performance").disabled = true;
          document.getElementById("btn_game").disabled = true;

          setTimeout(() => {
            window.location.href = URL.HOME;
          }, 3000);
          
        });

        displayNameTitle();

        updateSelectOptions();
        initModal();
      }

      function displayNameTitle() {
        let child = JSON.parse(localStorage.getItem("child"));
        $("#childName").text(`${child.firstName} ${child.lastName}`);
      }

      function updateSelectOptions() {
        // popup
        let i = 0;
        fields.forEach((field) => {
          $("#children_selector").append(
            $("<option></option>").attr("value", i).text(`${field}`)
          );
          i++;
        });
      }

      function printErrorToUser(code, err) {
        // popup
        $("#err_text").text(err);
      }

      function initModal() {
        $("#btn_child_chose").on("click", () => {
          let selectedId = $("select[name=children] option")
            .filter(":selected")
            .val();
          // store field for next page import performance according to field
          localStorage.setItem("selectedField", fields[selectedId]);
          window.location.href = URL.CHILD.PERFORMANCE;
        });

        $(window).click((event) => {
          let modalIds = ["modal-choose-child"];
          if(modalIds.includes(event.target.id))
            $(`#${event.target.id}`).hide();
        });
      }
    </script>
</body>

</html>