<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="../../lib/jquery.js"></script>
    <link href="./style/HomeScreen_Child.css" rel="stylesheet" />
    <link href="../../lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../lib/w3.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300&family=Roboto&display=swap"
        rel="stylesheet">

</head>

<body>

    <header>
        <h1>שולחן משחקים שיתופי</h1>
    </header>

    <main>
        <div class="in_img w3-red">
            <h1>PROTECT YOUR CHILD</h1>
            <p>Use the power of digital advocacy to help protect children</p>
        </div>
    </main>

    <footer>
        <div class="container">
            <div id='btn_details' class=" w3-light-blue w3-text-white" >
                <span>פירוט הנתונים שלי</span>
            </div>
            <div id="btn_performance" class="w3-red" >
                <span>הצגת ציונים וגרף התקדמות</span>
            </div>
            <div id="btn_game" class="w3-green"><span>שחק משחקים</span>
            </div>

        </div>
    </footer>

    <script type="module" src="consts.js"></script>
    <script type="module">
        import {URL} from './consts.js';

        $(document).ready(() => {
            console.log('jquery work');
            init();
        });


        function init() {
            $('.container div').addClass('box w3-hover-text-black w3-hover-opacity w3-hover-shadow');
            
            $('#btn_details').on('click', () => {
                location.replace(URL.CHILD_DETAILS);
            });

            $('#btn_performance').on('click', () => {
                location.replace(URL.CHILD_PERFORMANCE);
            });

            $('#btn_game').on('click', () => {
                location.replace(URL.CHILD_GAME);
            });
        }
    </script>
</body>

</html>