* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

span {
    /* font-family: 'Comic Neue', cursive; */
    font-size: 16px;
}

.mess {
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    width: 450px;
    background: rgba(0,0,0,0.9);
    margin: 3% auto 1% auto;
    padding: 30px 20px;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(255,0,255,1);
    font-family: 'Varela Round', sans-serif;
}

.input-box {
    margin: 10px auto;
    width: 80%;
    border-bottom: 1px solid #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

    .input-box input {
        width: 90%;
        border: none;
        outline: none;
        background: transparent;
        color: #fff;
        font-size: 16px;
    }

::placeholder {
    color: #ccc;
    font-family: 'Varela Round', sans-serif;
}

.fa {
    margin-left: 10px;
}

.eye {
    position: absolute;
}

#hide1 {
    display: none;
}

.login-btn {
    margin: 10px auto 20px;
    width: 80%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 16px;
}

body,
h1 {
    font-family: 'Varela Round', sans-serif;
}

body,
html {
    height: 100%;
}

.bgimg {
    background-image: url('../../../pics/childSignin.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
    /* margin: 20px;
        border: 1px solid rgba(0, 0, 0, 0.3); */
}

img {
    width: auto;
    height: 30px;
    display: block;
    margin: auto;
}

.homeBtn {
    margin: 10px auto 0;
    width: 20%;
    display: block;
    outline: none;
    padding: 10px 0;
    border: 1px solid #fff;
    cursor: pointer;
    background: transparent;
    color: #fff;
    font-size: 12px;
}

#err_text {
    color: red;
    /* font-size: 12px; */
    text-align: center;
    height: 22px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #ccc;
}

input:-webkit-autofill::first-line {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}

/*tablets*/
@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    body {
        background: no-repeat center center fixed;
        /* background-image: url('../../../pics/background_learn.png'); */
        background-size: cover;
        /* font-family: sans-serif; */
    }
    
    h1 {
        text-align: center;
        margin-bottom: 40px;
    }
    
    span {
        /* font-family: 'Comic Neue', cursive; */
        font-size: 26px;
    }
    
    .mess {
        text-align: center;
        margin-bottom: 30px;
    }
    
    .tittle {
        margin-top: 20px;
        color: #7c795d;
        font-size: 75px;
        /* font-family: 'Playfair Display', serif; */
    }
    
    .form-box {
        width: 500px;
        background: rgba(0,0,0,0.7);
        margin: 3% auto 1% auto;
        padding: 50px 0;
        color: #fff;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
        font-family: 'Varela Round', sans-serif;
    }
    
    .input-box {
        margin: 31px auto;
        width: 80%;
        border-bottom: 1px solid #fff;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    
        .input-box input {
            width: 90%;
            border: none;
            outline: none;
            background: transparent;
            color: #fff;
            font-size: 16px;
        }
    
    ::placeholder {
        color: #ccc;
    }
    
    .fa {
        margin-left: 10px;
    }
    
    .eye {
        position: absolute;
    }
    
    #hide1 {
        display: none;
    }
    
    .login-btn {
        margin: 40px auto 20px;
        width: 80%;
        display: block;
        outline: none;
        padding: 10px 0;
        border: 1px solid #fff;
        cursor: pointer;
        background: transparent;
        color: #fff;
        font-size: 16px;
    }
}