* {
    margin: 0;
    padding: 0;
}

body {
    background: no-repeat center center fixed;
    background-image: url('../../../../pics/background_learn.png');
    background-size: cover;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin-bottom: 40px;
}

span {
    font-family: 'Comic Neue', cursive;
    font-size: 26px;
}

table tr td {
    padding: 10px 30px;
}

#btn {
    font-size: 26px;
    width: 90px;
    height: 40px;
    padding: 2px 3px;
    margin-left: 5px;
}

#rst {
    font-size: 26px;
    width: 90px;
    height: 40px;
    padding: 2px 3px;
    margin-right: 5px;
}

.mess {
    text-align: center;
    margin-bottom: 30px;
}

.tittle {
    margin-top: 20px;
    color: #7c795d;
    font-size: 75px;
    font-family: 'Playfair Display', serif;
}

.gender {
    padding-left: 40px;
}

.form-box {
    width: 600px;
    background: rgba(0,0,0,0.7);
    margin: 6% auto 1% auto;
    padding: 50px 0;
    color: #fff;
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
}

.answware {
    width: 220px;
    height: 26px;
    font-size: 24px;
    padding: 5px 3px;
}

/*tablets*/
@media screen and (max-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: no-repeat center center fixed;
        background-image: url('../../../../pics/background_learn.png');
        background-size: cover;
        font-family: sans-serif;
    }

    h1 {
        text-align: center;
        margin-bottom: 40px;
    }

    span {
        font-family: 'Comic Neue', cursive;
        font-size: 26px;
    }

    table tr td {
        padding: 10px 30px;
    }

    #btn {
        font-size: 26px;
        width: 90px;
        height: 40px;
        padding: 2px 3px;
        margin-left: 5px;
    }

    #rst {
        font-size: 26px;
        width: 90px;
        height: 40px;
        padding: 2px 3px;
        margin-right: 5px;
    }

    .mess {
        text-align: center;
        margin-bottom: 30px;
    }

    .tittle {
        margin-top: 20px;
        color: #7c795d;
        font-size: 75px;
        font-family: 'Playfair Display', serif;
    }

    .gender {
        padding-left: 40px;
    }

    .form-box {
        width: 600px;
        background: rgba(0,0,0,0.7);
        margin: 14% auto 1% auto;
        padding: 50px 0;
        color: #fff;
        box-shadow: 0 0 20px 2px rgba(0,0,0,0.5);
    }

    .answware {
        width: 220px;
        height: 26px;
        font-size: 24px;
        padding: 5px 3px;
    }
}